.touch-parent-container {
  display: flex;
  height: 70vh;
  justify-content: center;
  align-items: center;
}

.touch-container {
  padding: 20px;
  width: 740px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cursor-change {
  cursor: pointer;
}

@media (max-width: 600px) {
  .button-container {
    transform-origin: center;
    transform: rotate(90deg);
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .touch-container {
    padding: 20px;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: center;
    transform: rotate(90deg);
    margin: auto;
  }
}

@media (max-width: 350px) {
  svg {
    width: 330px !important;
  }
}